
<div ng-show="!genericWidgetModel.loaded">

    <div class="loading-container">
        <div class="loading-text">loading..</div>
        <div class="loading-widget">

        </div>
    </div>


</div>
<div class="default-theme" id="free-widget" ng-show="!!genericWidgetModel.loaded">

    <!-- TODO FIXME figure out how to put inner frame without it being empty -->


    <span id="title">{{'blufree.widget.title' | i18n}}</span>

    <a herf="javascript:void(0)" id="start_btn" class="button"  ng-show="!isWidgetPlaying()"ng-click="playWidget()"></a>
    <a herf="javascript:void(0)"
       id="stop_btn"
       class="button"
       ng-show="isWidgetPlaying()"
       ng-click="stopWidget()"
       ng-class="{'executing':!widgetStatus.instanceIsAvailable}"></a>

    <ul class="log" ng-show="!!isWidgetPlaying()">

        <li ng-repeat="line in genericWidgetModel.widgetStatus.output track by $index">{{ line }}</li>
        <li class="important" ng-show="!!isWidgetInstallationFinished()"><a href="http://{{genericWidgetModel.widgetStatus.nodeModel.publicIp}}:8099" target="_blank">{{'blufree.widget.manageWithCloudify' | i18n }}</a></li>
        <li class="important" ng-show="!!isWidgetInstallationFinished()">{{'blufree.widget.gotoInstruction' | i18n }} <a href="https://{{genericWidgetModel.widgetStatus.nodeModel.publicIp}}:8443" class="track" target="_blank">{{'blufree.widget.gotoTitle'|i18n}}</a></li>
    </ul>



    <ul id="links">
        <li>
            <span ng-show="!widgetStatus.instanceIsAvailable">{{widgetStatus.consoleLink.title}}</span>
            <a ng-show="!!widgetStatus.instanceIsAvailable"
               href="{{widgetStatus.consoleLink.link}}"
               class="track"
               target="_blank">{{widgetStatus.consoleLink.title}}</a>
        </li>
        <li ng-show="widget.showCloudifyLink">
            <span ng-show="!widgetStatus.instanceIsAvailable">{{ 'global.cloudify' | i18n }}</span>
            <a href="http://{{widgetStatus.nodeModel.publicIp}}:8099"
               target="_blank"
               ng-show="!!widgetStatus.instanceIsAvailable"
               class="track">{{ 'global.cloudify' | i18n }}
            </a>
        </li>
    </ul>

    <span id="time_left" ng-show="!!genericWidgetModel.widgetStatus.nodeModel.expires">{{ 'blufree.widget.trialLeft' | i18n }}
        <span id="time_left_counter">{{genericWidgetModel.widgetStatus.nodeModel.expires | expires}}</span>
    </span>

    <div id="video_container" class="video-container">
        <iframe height="160" width="270" ng-src="http://player.youku.com/embed/XNzQ0NjM1MDA4" frameborder="0"
                allowfullscreen="" src="http://player.youku.com/embed/XNzQ0NjM1MDA4"></iframe>
    </div>

    <!-- advanced message -->
    <div class="advanced_section" ng-show="!!isWidgetInstallationFinished()">
        <div style="margin:10px auto 0 auto"><b>Username</b>: bluadmin<br>We sent the password with instructions in E-mail</div>
    </div>



    <!-- footer -->
    <div class="widget-footer">
        <div class="powered-by">
            {{ 'blufree.widget.poweredBy' | i18n }}
        </div>
        <div class="powered-by-links">
            <a ng-href="http://softlayer.com" target="_blank">
                <img src="/images/free_widget/softlayer_icon.png"/>
                <!--img class="brand_btns" src="/img/hp_cloud_icon.png"-->
            </a>
            <a href="http://getcloudify.org" target="_blank">
                <img class="brand_btns" src="/images/free_widget/cloudify_icon.png">
            </a>
        </div>

        <!--<div class="put_left share-buttons">
            <span id="embed_btn" ng-click="showEmbed=true">
                <img src="/images/free_widget/share/share_widget.png">
            </span>
            <a class="share_link" id="facebook_share_link" href="#">
                <img src="/images/free_widget/share/share_facebook.png">
            </a>
            <a class="share_link" id="google_plus_share_link" href="#">
                <img src="/images/free_widget/share/share_google.png">
            </a>
            <a class="share_link" id="twitter_share_link" href="#">
                <img src="/images/free_widget/share/share_twitter.png">
            </a>
        </div>-->
    </div>
    <div id="embed-code-box" ng-show="!!showEmbed">
        <i class="close" ng-click="showEmbed=false"></i>

        <h3>{{ 'widget.default.embedCode' | i18n }}</h3>

        <p>{{ 'widget.default.copyToEmbed' | i18n }}</p>

        <div widget-embed as-code="true" widget="widget" view-wrap="true"></div>
    </div>

    <div blank-frame style="display: none;">
        <div widget-iframe url="environment.url"></iframe><!---->

        </div>
    </div>
</div>

    <pre>{{genericWidgetModel|json}}</pre>
