
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}



.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

#blu-solo-snippet{

  .widget-output-display{


    font-size:15px;
    .messages{
      padding:20px 0;
      height:100px;
      display:table;
      width:100%;

      .message-items{
        display:table-row;
        .message-item{
          display:table-cell;
          width:33%;
          vertical-align: bottom;
        }
      }


      &.with-pem{
        height:230px;
      }
      .something-is-wrong{
//        float:right;
        z-index:300;
        text-align:center;
        float:right;
        .we-are-sorry{
          span{
            font-size:13px;
          }
        }
        .stop-wrapper{
          text-align:center;
          margin-top:30px;
        }

        .warning{
          font-size:10px;
          padding:10px;
        }

        .my-mistake{
          margin-top:10px;
        }
      }

      .finished-successfully{
        width:370px;
        font-size:15px;
        margin:0 auto;
        text-align:center;
        .message{
          padding:0 20px 20px 20px;
        }
      }
      .warning{
        font-size:13px;
      }
      i.fa {
        padding-right:10px;
      }

      .stopping-widget{
        font-size:30px;
        text-align:center;
        .ng-modal-dialog{
          width:300px;
        }
        .ng-modal-dialog-content {
          padding: 20px;
        }
        i.fa{
          padding:0;
        }
      }

      .pem-file{
//        float:left;
//        width:400px;
        border-radius: 5px;
        padding:0;

        .message{
          padding:0 20px 20px 0;
        }
      }
    }

    .pem-content{
      .ng-modal-dialog{
        padding:20px;
        border-radius:5px;
        width:700px;
      }
      .instructions{
        padding: 10px 0;
        button{
          float:right;
          padding-right:0;
          border:0;
          outline:none;
        }
      }
      .popup-content{
        margin:0 auto;
        width:650px;
        height:auto;
      }

      pre{
        margin:1em auto;
      }

    }

  }

  .widget-message{
    padding:15px;
    max-width:300px;
    margin:0 auto;
    border:1px solid #a94442;
    text-align:center;

  }
  .form {
      margin-top: 20px;
      border-radius: 2px;
      background-color: transparent;
      min-height: 200px;

    input[type=checkbox]
    {
      /* Double-sized Checkboxes */
      -ms-transform: scale(2); /* IE */
      -moz-transform: scale(2); /* FF */
      -webkit-transform: scale(2); /* Safari and Chrome */
      -o-transform: scale(2); /* Opera */
      padding: 10px;
    }

    .submit-error{
      color:#a94442;
    }
      .label {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        padding: 5px 0;
        display: block;
        text-align: left;
      }
      .h2 {
        padding-bottom: 4px;
      }
      .under-title {
        font-size: 10px;
        padding-bottom: 10px;
      }

      .hr {
        height: 1px;
        border: 1px dotted #ABABAB;

      }

      .required {
        color: red;
      }

      .side-info {
        width: 300px;
        //        top:0;
        //        right:0;
        //        position:absolute;
        //        float:right;
        border: 1px solid #ABABAB;
        background-color: #EFEFEF;
        padding: 20px;
        margin-left: 10px;
        display: none;
        font-size: 13px;
        vertical-align: top;
      }
      .controllers {
        margin-top: 10px;
        .controller {

          position: relative;
          margin-top: 2px;

          .section {

            width: 630px;
            display: inline-block;
            padding: 10px 10px 10px 0;
            .error-message{
              display:none;
            }

          }

          .control {
            margin-top: -2px;
            width: 300px;
            input[type=text], input[type=password], select {
              width: 100%;
              height: 20px;
              line-height: 20px;
            }
          }

          &.focused {
            .side-info {
              display: inline-block;
            }
            .section {
              background-color: #FFF7C0;
            }

          }

          &.visitor-name {
            .first, .second, input {
              display: inline-block;
              width: 100px;
            }
          }

          .instructions {
            font-size: 10px;
          }

          &.has-error, &.focused.has-error {

            .section{
              background-color: #ffdfdf;
              .error-message{
                margin-top:10px;
                margin-bottom:-5px;
                color:#a94442;
                display:block;
              }
            }
          }

        }


      }

      .form-actions {
        button {
          background-color: #5B8BC6;
          color: white;
          padding: 10px;
          border-radius: 3px;
          border: none;
          font-size: 21px;
          margin-top: 10px;

        }
      }
      .softlayer-account .instructions .text {
        min-width: 180px;
        display: inline-block;
      }

      .form-errors {
        background-color: #F2DEDE;
        padding: 40px;
        border: 1px solid red;
      }

      .fa-spinner{
        font-size:30px;
      }

    }

}