body {
    margin: 0;
    padding: 0;
    background: #d1d3d4;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

header {
    height: 200px;
    background-image: url('');
}