<!--{{genericWidgetModel.widgetStatus}}-->
<div recipe-properties-display="sentProperties"></div>



        {{formErrors}}
<div ng-show="!genericWidgetModel.loaded" style="padding-top:20px;">
    <div class="progress">
        <div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

        </div>
    </div>

    <div style="font-size:18px; text-align:center;">
         Looking for previous installations...
    </div>


</div>
        <div ng-show="!!genericWidgetModel.loaded">
<!--<pre>{{genericWidgetModel.widgetStatus.status.rawOutput[0]}}</pre>-->
<div widget-raw-output-display="genericWidgetModel.widgetStatus.rawOutput" ng-show="genericWidgetModel.widgetStatus.state === 'RUNNING'"></div>
<div  id="blu-solo-snippet">
    <div ng-show="!!genericWidgetModel.widgetStatus.message" class="bg-danger widget-message">
        {{genericWidgetModel.widgetStatus.message}}
    </div>

     <div class="form" ng-show="genericWidgetModel.widgetStatus.state !== 'RUNNING'">
    <div class="controllers">
        <div class="cloud-provider controller" control-focus>
            <div class="section">
                <div class="label">{{'labels.cloudProvider' | i18n }}</div>
                <div class="control">
                    <select ng-options="cloudProvider.id as cloudProvider.label for cloudProvider in cloudProviders" ng-model="execution.cloudProvider"></select>
                </div>
            </div>
            <div class="side-info">
                {{ 'bluSolo.chooseCloud' | i18n }}
            </div>
        </div>
        <!-- softlayer specific -->
                <span ng-show="execution.cloudProvider==='softlayer'">
                   <div ng-include="'views/snippets/_bluSolo_softlayer.html'"></div>
                </span>
                <span ng-show="execution.cloudProvider==='aws'">
                    <div ng-include="'views/snippets/_bluSolo_aws.html'"></div>
                </span>

        <div class="controller" control-focus control-error="formErrors.email">
            <div class="section">

                <div class="label">{{ 'labels.email' | i18n }} <span class="required">*</span></div>
                <div class="control">
                    <input type="text" class="form-control" ng-model="genericWidgetModel.leadDetails.email"/>
                </div>
                <div class="error-message">
                    {{'formErrors.general.' + formErrors.email | i18n }}
                </div>
            </div>
        </div>

        <div class="controller visitor-name" control-focus control-error="formErrors.name">
            <div class="section">
                <div class="label">{{ 'labels.name.top' | i18n }}<span class="required">*</span></div>
                <div class="inputs">
                    <div class="first control">
                        <input type="text" class="form-control" ng-model="genericWidgetModel.leadDetails.firstName"/>
                    </div>
                    <div class="second control">
                        <input type="text" class="form-control" ng-model="genericWidgetModel.leadDetails.lastName"/>
                    </div>
                </div>
                <div class="instructions">
                    <div class="first">
                        {{ 'labels.name.first' | i18n }}
                    </div>
                    <div class="second">
                        {{ 'labels.name.last' | i18n }}
                    </div>
                </div>
                <div class="error-message">
                    {{'formErrors.general.' + formErrors.name | i18n }}
                </div>
            </div>
        </div>

        <div class="controller" control-focus ng-class="{'has-error' : !!formErrors.company}">
            <div class="section">
                <div class="label">{{'labels.companyName' | i18n}}<span class="required">*</span></div>
                <div class="control">
                    <input type="text" class="form-control" ng-model="genericWidgetModel.leadDetails.companyName"/>
                </div>
                <div class="error-message">
                    {{'formErrors.general.' + formErrors.company | i18n }}
                </div>
            </div>
        </div>



        <!--<div class="agreement controller" control-focus>-->
        <!--<div class="section">-->
        <!--<div>By submitting this form you grant us permission to communicate with you using email.<span class="required">*</span></div>-->
        <!--<div class="control">-->
        <!--<input type="checkbox" ng-model="execution.agreed"> I agree-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="form-errors" ng-show="execution.error">
            {{execution.error}}
        </div>

        <div class="controller" control-focus>
            <div class="section">
                <div class="you-must-agree">
                    {{'bluSolo.mustAgree' | i18n }}
                </div>
                <div class="form-actions">
                    <i ng-show="!genericWidgetModel.loaded" class="fa fa-spinner fa-spin"></i>
                    <button ng-show="!!genericWidgetModel.loaded" ng-click="submitForm()">Submit</button>
                    <span class="submit-error" ng-show="!!formErrors" >{{'formErrors.pleaseReview' | i18n }}</span>
                </div>
            </div>
        </div>
    </div>

    <span ng-show="showWidget">
        <div widget-iframe url="widgetUrl"></div>
    </span>
     </div> <!--form-->
    </div>

</div>