<div id="site" class="fullwidth blu-page">
    <!-- Fixed NavBar Section -->
    <section id="navbar" class="container no_clone section-navbar  fixed-top fix">
        <div class="navbar fix navbar-full-width  pl-color-blue">
            <div class="navbar-inner content">
                <div class="navbar-content-pad fix">
                    <a href="javascript:void(0)" class="nav-btn nav-btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="plbrand" href="http://bluforcloud.com/home" title="{{ 'blu.title' | i18n }}"><h2
                            class="plbrand-text">{{ 'blu.title' | i18n }}</h2></a>

                    <div class="nav-collapse collapse">
                        <ul id="menu-main" class="font-sub navline pldrop pull-left">
                            <li id="menu-item-6"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6"><a href="/">Home</a>
                            </li>
                            <li id="menu-item-1163"
                                class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor menu-item-1163">
                                <a href="http://bluforcloud.com/plans/">Plans &amp; Pricing</a></li>
                            <li id="menu-item-29"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a
                                    href="http://bluforcloud.com/is-this-for-me/">Is this for me?</a></li>
                            <li id="menu-item-12"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12"><a
                                    href="http://bluforcloud.com/blu-acceleration-technology/">7 Big Ideas</a></li>
                            <li id="menu-item-210"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-210"><a
                                    href="http://ibmbluhub.com">Get to know BLU</a></li>
                            <li id="menu-item-503"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-503"><a
                                    href="http://bluforcloud.com/blog/">Blog</a></li>
                            <li id="menu-item-769"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-769"><a
                                    href="http://bluforcloud.com/forum/">Forum</a></li>
                            <li id="menu-item-1172"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1172"><a
                                    href="#">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </section>
    <div id="page" class="thepage">
        <div class="page-canvas">
            <header id="header" class="container-group">
                <div class="outline">
                </div>
            </header>
            <div id="page-main" class="container-group">
                <div id="dynamic-content" class="outline">


                    <!-- Content | Section Template -->
                    <section id="content" class="container clone_1 section-content-area fix">
                        <div class="texture">
                            <div class="content">
                                <div class="content-pad">
                                    <div id="pagelines_content" class="fullwidth fix">

                                        <div id="column-wrap" class="fix">

                                            <div id="column-main" class="mcolumn fix">
                                                <div class="mcolumn-pad">


                                                    <!-- PostLoop | Section Template -->
                                                    <section id="postloop" class="copy clone_1 section-postloop">
                                                        <div class="copy-pad">
                                                            <article
                                                                    class="post-521 page type-page status-publish hentry fpost post-number-1"
                                                                    id="post-521">
                                                                <div class="hentry-pad">
                                                                    <div class="entry_wrap fix">
                                                                        <div class="entry_content">
                                                                            <div id="mobile-warning">
                                                                                <script type="text/javascript">//<![CDATA[
                                                                                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
                                                                                    document.write("Note: BLU Acceleration for Cloud is not supported on Mobile devices.");
                                                                                }
                                                                                //]]>
                                                                                </script>
                                                                            </div>
                                                                            <h2>{{ 'blu.tryHeader' | i18n }}</h2>

                                                                            <p>{{ 'blu.try' | i18n }}</p>

                                                                            <div style="margin-left: 15px;">
                                                                                <p><span
                                                                                        ng-bind-html="'blu.step1' | i18n"></span>
                                                                                </p>

                                                                                <p><span
                                                                                        ng-bind-html="'blu.step2' | i18n"></span>
                                                                                </p>

                                                                                <p><span
                                                                                        ng-bind-html="'blu.step3' | i18n"></span>
                                                                                </p>
                                                                            </div>
                                                                            <p><span class="label label-warning">{{ 'blu.note' | i18n }}</span>
                                                                                {{ 'blu.noteDetails' | i18n }}</p>

                                                                            <p style="text-align: center;">
                                                                                <iframe src="http://ibmhkprod.gsdev.info/widget/widget?apiKey=998b0f7e-58d0-4945-aa0a-2f4bde563bf2&amp;showAdvanced=false&amp;title=BLU&amp;origin_page_url=http%3A%2F%2Fibmhkprod.gsdev.info%2Fdemos%2F131%2F998b0f7e-58d0-4945-aa0a-2f4bde563bf2&amp;video_url=http%3A%2F%2Fv.youku.com%2Fv_show%2Fid_XNzM1MDc5NTg0.html" scrolling="no" width="600px" height="463px" frameborder="no"></iframe>
                                                                            </p>
                                                                            <p>{{ 'blu.trialEnds' | i18n }}</p>

                                                                            <p style="text-align: center;"></p>

                                                                            <p></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </article>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div id="morefoot_area" class="container-group">
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <footer id="footer" class="container-group">
        <div class="outline fix">


            <!-- Simple Nav | Section Template -->
            <section id="simple_nav" class="container clone_1 section-simple_nav fix">
                <div class="texture">
                    <div class="content">
                        <div class="content-pad">
                            <div class="menu-main-container">

                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Full Width Sidebar | Section Template -->
            <section id="sb_fullwidth" class="container clone_1 section-sb_fullwidth fix">
                <div class="texture">
                    <div class="content">
                        <div class="content-pad">
                            <ul id="list_sb_fullwidth" class="sidebar_widgets fix">
                                <li id="text-2" class="widget_text widget fix">
                                    <div class="widget-pad">
                                        <div class="textwidget"><p style="text-align: right;"></p>

                                            <div class="foot-image"><img
                                                    src="http://bluforcloud.com/wp-content/uploads/2013/10/ibm-e1382472155506.png">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</div>