<div id="blu_solo">
    <div class="header">
        <div class=" content-width">
            BLU Acceleration for Cloud
        </div>
    </div>
    <div class="content content-width">
        <div class="h2">BLU Acceleration for Cloud Solo – Beta</div>
        <div class="intro">Designed to meet demands of the most sophisticated enterprises, BLU Acceleration for Cloud Solo brings advanced data warehousing and analytics to an individual user. With the Solo plan you provision a private, dedicated data analytics and warehouse for your personal use… on the cloud of your choice (AWS or SoftLayer). Regardless of which cloud provider you choose to host your BLU Acceleration for Cloud Solo you will enjoy the same benefits.</div>
        <ul>
            <li>Use all of the capabilities: We held nothing back</li>
            <li>Single user configuration to keep the cost down without sacrificing function</li>
            <li>10GB of compressed database storage should accommodate 50GB or even larger data sets</li>
            <li>No charge for software. Only pay for your cloud resources</li>
            <li>Seamlessly upgrade to one of the business plans when you need more users or larger data sets</li>
        </ul>
        <div class="h2">Launch BLU Acceleration for Cloud</div>
        <div>
            To provision your private instance of BLU Acceleration for Cloud you will require either a
            <a href="http://www.softlayer.com/" target="_blank">SoftLayer</a>a or an
            or <a href="https://www.amazon.com/ap/signin?openid.assoc_handle=aws&openid.return_to=https%3A%2F%2Fportal.aws.amazon.com%2Fgp%2Faws%2Fdeveloper%2Fregistration%2Findex.html&openid.mode=checkid_setup&openid.ns=http%3A%2F%2Fspecs.openid.net%2Fauth%2F2.0&openid.identity=" target="_blank">AWS account</a>. IBM software provided as part of the Solo plan is free of charges, however your account will be charged by the cloud provider for any cloud services you consume.
        </div>
        <div>

            Kindly fill out the following form so that we can share the BLU Acceleration for Cloud image with your
            <a href="https://imdemocloud.uservoice.com/knowledgebase/articles/323619" target="_blank">SoftLayer</a>
            or <a href="https://imdemocloud.uservoice.com/knowledgebase/articles/323620" target="_blank">AWS account</a>.
            Find your account number by clicking one of these two links: SoftLayer | AWS
        </div>

        <div class="form">
        <!-- TODO : do form here -->
            <div class="h2">BLU Acceleration for Cloud - Beta</div>
            <div class="under-title">Please take a few moments to complete this request to participate in the IBM BLU Acceleration for Cloud beta program.</div>
            <div class="hr"></div>

            <div class="controllers">
                <div class="cloud-provider controller" control-focus>
                    <div class="section">
                        <div class="label">Cloud provider</div>
                        <div class="control">
                            <select ng-options="cloudProvider.id as cloudProvider.label for cloudProvider in cloudProviders" ng-model="execution.cloudProvider"></select>
                        </div>
                    </div>
                    <div class="side-info">
                        Choose the cloud where you want to deploy your BLU Acceleration for Cloud
                    </div>
                </div>

                <!-- softlayer specific -->
                <div class="controller softlayer-account" control-focus ng-show="execution.cloudProvider==='softlayer'">
                    <div class="section">
                        <div class="label">SoftLayer Account (e.g., 123456) <span class="required">*</span></div>
                        <div class="control">
                            <input type="text" ng-model="execution.softlayerAccount" maxlength="6"/>
                        </div>
                        <span class="instructions">
                            <span class="text">Maximum Allowed: 6 digits.</span>
                            <span class="current">Currently Used: {{execution.softlayerAccount.length}} digits.</span>
                        </span>
                    </div>
                    <div class="side-info">
                        You will find your Softlayer Account on the upper hand side of the Softlayer Control Portal <a href="https://control.softlayer.com/" target="_blank">https://control.softlayer.com/</a>
                    </div>
                </div>

                <div class="controller aws-account" control-focus ng-show="execution.cloudProvider==='aws'">
                    <div class="section">
                        <div class="label">AWS Account Number (e.g., 1111-2222-3333)  <span class="required">*</span></div>
                        <div class="control">
                            <input type="text" ng-model="execution.softlayerAccount" maxlength="6"/>
                        </div>
                        <span class="instructions">
                            <span class="text">Maximum Allowed: 6 digits.</span>
                            <span class="current">Currently Used: {{execution.softlayerAccount.length}} digits.</span>
                        </span>
                    </div>
                    <div class="side-info">
                        You will find your Account number at <a href="https://portal.aws.amazon.com/gp/aws/manageYourAccount" target="_blank">AWS Manager Your Account Page</a>
                    </div>
                </div>

                <div class="controller" control-focus>
                    <div class="section">

                        <div class="label">Email <span class="required">*</span></div>
                        <div class="control">
                            <input type="text" ng-model="execution.email"/>
                        </div>
                    </div>
                </div>

                <div class="controller visitor-name" control-focus>
                    <div class="section">
                        <div class="label">Name<span class="required">*</span></div>
                        <div class="inputs">
                            <div class="first">
                                <input type="text" ng-model="execution.firstName"/>
                            </div>
                            <div class="second">
                                <input type="text" ng-model="execution.lastName"/>
                            </div>
                        </div>
                        <div class="instructions">
                            <div class="first">
                                First
                            </div>
                            <div class="second">
                                Last
                            </div>
                        </div>
                    </div>
                </div>

                <div class="controller" control-focus>
                    <div class="section">
                        <div class="label">Company (Organization) Name<span class="required">*</span></div>
                        <div class="control">
                            <input type="text" ng-model="execution.companyName"/>
                        </div>
                    </div>
                </div>

                <div class="agreement controller" control-focus>
                    <div class="section">
                        <div>By submitting this form you grant us permission to communicate with you using email.<span class="required">*</span></div>
                        <div class="control">
                            <input type="checkbox"> I agree
                        </div>
                    </div>
                </div>

                <div class="controller" control-focus>
                    <div class="section">
                        <div class="you-must-agree">
                            You must agree to email communications to participate in this program.
                        </div>
                        <div class="form-actions">
                            <button ng-click="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="h2">
            Additional Resources
        </div>
        <ul>
            <li><a href="http://bluforcloud.com/forum/" target="_blank">Discussion and support forum</a></li>
            <li><a href="http://bluforcloud.com/forum/" target="_blank">Read the blog</a></li>
            <li>Configuration and Deployment Guides
                <ul>
                    <li> <a href="http://bluforcloud.com/plans/solo/softlayer-guide" target="_blank">Softlayer</a></li>
                    <li> <a href="http://bluforcloud.com/plans/solo/aws-guide" target="_blank">AWS</a> </li>
                </ul>
            </li>
        </ul>

        <div class="disclaimer">
            <div class="strong">DISCLAIMER</div>
            <div class="content">
                IBM’s statements regarding its plans, directions, and intent are subject to change or withdrawal without notice at IBM’s sole discretion. Information regarding potential future products is intended to outline our general product direction and it should not be relied on in making a purchasing decision. The information mentioned regarding potential future products is not a commitment, promise, or legal obligation to deliver any material, code or functionality. Information about potential future products may not be incorporated into any contract. The development, release, and timing of any future features or functionality described for our products remains at our sole discretion.
            </div>
        </div>


        <div class="actions">
            <button>Back to Plans & Pricing</button>
        </div>
    </div>

    <div class="footer content-width">
        <img src="http://bluforcloud.com/wp-content/uploads/2013/10/ibm-e1382472155506.png"/>
    </div>

</div>
