<div id="blu_solo">
    <div class="header">

        <div class=" content-width">
            BLU Acceleration for Cloud
        </div>
    </div>
    <div class="content content-width">
    <div class="switch-language"></div>
        <div class="h2">{{ 'bluSolo.title' | i18n }}</div>
        <div class="intro"> {{ 'bluSolo.intro.text' | i18n }}</div>
        <ul>
            <li>{{ 'bluSolo.intro.item1' | i18n }}</li>
            <li>{{ 'bluSolo.intro.item2' | i18n }}</li>
            <li>{{ 'bluSolo.intro.item3' | i18n }}</li>
            <li>{{ 'bluSolo.intro.item4' | i18n }}</li>
            <li>{{ 'bluSolo.intro.item5' | i18n }}</li>
        </ul>
        <div class="h2"> {{ 'bluSolo.launch.title' | i18n }}</div>
        <div>
              <span ng-bind-html="'bluSolo.launch.text1' | i18n"></span>
        </div>
        <div>
            <span ng-bind-html="'bluSolo.launch.text2' | i18n"></span>

        </div>

        <div class="register-marketplace" ng-show="execution.cloudProvider==='aws'">
            In order to use this service, you need to first sign up to this product in <a href="https://aws.amazon.com/marketplace/pp/B00A6KUVBW" target="_blank">AWS marketplace</a>. <br/>
            <a href="https://aws.amazon.com/marketplace/pp/B00A6KUVBW" target="_blank">Click the link</a> and follow AWS instructions.

        </div>

        <div class="form">
        <!-- TODO : do form here -->




            <div class="controllers">
                <div class="cloud-provider controller" control-focus>
                    <div class="section">
                        <div class="label">Cloud provider</div>
                        <div class="control">
                            <select ng-options="cloudProvider.id as cloudProvider.label for cloudProvider in cloudProviders" ng-model="execution.cloudProvider"></select>
                        </div>
                    </div>
                    <div class="side-info">
                        Choose the cloud where you want to deploy your BLU Acceleration for Cloud
                    </div>
                </div>
                <!-- softlayer specific -->
                <span ng-show="execution.cloudProvider==='softlayer'">
                    <!--<div class="controller softlayer-account" control-focus >-->
                        <!--<div class="section">-->
                            <!--<div class="label">SoftLayer Account (e.g., 123456) <span class="required">*</span></div>-->
                            <!--<div class="control">-->
                                <!--<input type="text" ng-model="execution.softlayerAccount" maxlength="6"/>-->
                            <!--</div>-->
                            <!--<span class="instructions">-->
                                <!--<span class="text">Maximum Allowed: 6 digits.</span>-->
                                <!--<span class="current">Currently Used: {{execution.softlayerAccount.length}} digits.</span>-->
                            <!--</span>-->
                        <!--</div>-->
                        <!--<div class="side-info">-->
                            <!--You will find your Softlayer Account on the upper hand side of the Softlayer Control Portal <a href="https://control.softlayer.com/" target="_blank">https://control.softlayer.com/</a>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="controller" control-focus >
                        <div class="section">
                            <div class="label">Sfotlayer API Key  <span class="required">*</span></div>
                            <div class="control">
                                <input type="text" ng-model="loginDetails.softlayerApiKey" />
                            </div>
                        </div>
                    </div>

                    <div class="controller" control-focus >
                        <div class="section">
                            <div class="label">Softlayer API Secret Key  <span class="required">*</span></div>
                            <div class="control">
                                <input type="text" ng-model="loginDetails.softlayerApiSecretKey" />
                            </div>
                        </div>
                    </div>

                    <div class="controller" control-focus>
                        <div class="section">

                            <div class="label">Data Center <span class="required">*</span></div>
                            <div class="control">
                                <select ng-options="dc.id as ('datacenters.' + dc.label | i18n) for dc in dataCenters" ng-model="execution.dataCenter"></select>
                            </div>
                        </div>
                    </div>


                </span>
                <span ng-show="execution.cloudProvider==='aws'">
                    <div class="controller aws-account" control-focus >
                        <div class="section">
                            <div class="label">AWS Account Number (e.g., 1111-2222-3333)  <span class="required">*</span></div>
                            <div class="control">
                                <input type="text" ng-model="execution.awsAccount"/>
                            </div>
                        </div>
                        <div class="side-info">
                            You will find your Account number at <a href="https://portal.aws.amazon.com/gp/aws/manageYourAccount" target="_blank">AWS Manager Your Account Page</a>
                        </div>
                    </div>

                    <div class="controller" control-focus >
                        <div class="section">
                            <div class="label">AWS API Key  <span class="required">*</span></div>
                            <div class="control">
                                <input type="text" ng-model="execution.awsApiKey" />
                            </div>
                        </div>
                    </div>

                    <div class="controller " control-focus >
                        <div class="section">
                            <div class="label">AWS API Secret Key  <span class="required">*</span></div>
                            <div class="control">
                                <input type="password" ng-model="execution.awsApiSecretKey" />
                            </div>
                        </div>
                    </div>

                    <div class="controller" control-focus>
                        <div class="section">
                            <div class="label">Region <span class="required">*</span></div>
                            <div class="control">
                                <select ng-options="region.id as region.label for region in regions" ng-model="execution.region"></select>
                            </div>
                        </div>
                    </div>

                    <div class="controller" control-focus>
                        <div class="section">
                            <div class="label">Instance Type <span class="required">*</span></div>
                            <div class="control">
                                <select ng-options="instanceType.id as instanceType.label for instanceType in instanceTypes" ng-model="execution.instanceType"></select>
                            </div>
                        </div>
                    </div>

                </span>

                <!--<div class="controller" control-focus>-->
                    <!--<div class="section">-->

                        <!--<div class="label">Email <span class="required">*</span></div>-->
                        <!--<div class="control">-->
                            <!--<input type="text" ng-model="execution.email"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="controller visitor-name" control-focus>-->
                    <!--<div class="section">-->
                        <!--<div class="label">Name<span class="required">*</span></div>-->
                        <!--<div class="inputs">-->
                            <!--<div class="first">-->
                                <!--<input type="text" ng-model="execution.firstName"/>-->
                            <!--</div>-->
                            <!--<div class="second">-->
                                <!--<input type="text" ng-model="execution.lastName"/>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="instructions">-->
                            <!--<div class="first">-->
                                <!--First-->
                            <!--</div>-->
                            <!--<div class="second">-->
                                <!--Last-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="controller" control-focus>-->
                    <!--<div class="section">-->
                        <!--<div class="label">Company (Organization) Name<span class="required">*</span></div>-->
                        <!--<div class="control">-->
                            <!--<input type="text" ng-model="execution.companyName"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->



                <!--<div class="agreement controller" control-focus>-->
                    <!--<div class="section">-->
                        <!--<div>By submitting this form you grant us permission to communicate with you using email.<span class="required">*</span></div>-->
                        <!--<div class="control">-->
                            <!--<input type="checkbox" ng-model="execution.agreed"> I agree-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-errors" ng-show="execution.error">
                    {{execution.error}}
                </div>

                <div class="controller" control-focus>
                    <div class="section">
                        <div class="you-must-agree">
                            You must agree to email communications to participate in this program.
                        </div>
                        <div class="form-actions">
                            <button ng-click="submitForm()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div>
            <!--<iframe src="http://ibmhkstaging.gsdev.info/public-folder/angularApps/index.html#/widgets/0375c7bb-c070-4b80-970b-eaec99fccfc7/view?since=1408442996708" scrolling="no" width="600px" height="463px" frameborder="no"></iframe>-->
            <iframe src="http://localhost:3000/public-folder/angularApps/index.html#/widgets/2f6f8e68-5dd2-4623-a704-139dc0af7a7e/view?since=1408536907313" scrolling="no" width="600px" height="463px" frameborder="no"></iframe>
        </div>

        <div class="h2">
            Additional Resources
        </div>
        <ul>
            <li><a href="http://bluforcloud.com/forum/" target="_blank">Discussion and support forum</a></li>
            <li><a href="http://bluforcloud.com/forum/" target="_blank">Read the blog</a></li>
            <li>Configuration and Deployment Guides
                <ul>
                    <li> <a href="http://bluforcloud.com/plans/solo/softlayer-guide" target="_blank">Softlayer</a></li>
                    <li> <a href="http://bluforcloud.com/plans/solo/aws-guide" target="_blank">AWS</a> </li>
                </ul>
            </li>
        </ul>

        <div class="disclaimer">
            <div class="strong">DISCLAIMER</div>
            <div class="content">
                IBM’s statements regarding its plans, directions, and intent are subject to change or withdrawal without notice at IBM’s sole discretion. Information regarding potential future products is intended to outline our general product direction and it should not be relied on in making a purchasing decision. The information mentioned regarding potential future products is not a commitment, promise, or legal obligation to deliver any material, code or functionality. Information about potential future products may not be incorporated into any contract. The development, release, and timing of any future features or functionality described for our products remains at our sole discretion.
            </div>
        </div>


        <div class="comments" auto-resize-iframe>
            hello world
            <iframe src="/views/disqus/bluSoloFrame.html" frameborder="0" scrolling="no" border="0"></iframe>
        </div>
        <div class="actions">
            <a href="http://bluforcloud.com/plans/" target="_blank">Back to Plans & Pricing</a>
        </div>
    </div>

    <div class="footer content-width">
        <img src="http://bluforcloud.com/wp-content/uploads/2013/10/ibm-e1382472155506.png"/><br/>

    </div>

</div>
