<div id="main">
    <div class="content">
        <div class="intro">
            <h1> IBM Pages </h1>
            <div class="switch-language">

            </div>
            <p>
                {{ 'proof' | i18n }}
            </p>
            <p ng-show="!!version">
                This version is from {{version.host}} at {{version.timestamp | date:'medium'}}
            </p>
            <p>
                A set of pages, frontend only, that use the widget. <br/>
                The entire project can be uploaded to S3 CloudFront and embedded in other pages<br/>
            </p>
            <p>
                To embed a page simply click on the <code>snippet</code> link, copy paste the url and generate<br/>
                and iframe to embed it<br/>
            </p>
        </div>

        <div>
            <a href="#/softlayer/packages">See packages</a>
        </div>





        <div ibm-page
             name="BLU Solo"
             snippet-link="#/snippet/bluSoloNew?lang={{lang}}"
             wrapper-link="#/wrapper/bluSolo?lang={{lang}}"
                >
            Base on page - <a href="http://bluforcloud.com/plans/solo/">BLU For Cloud Solo</a> - this page is a snippet to replace the form in the middle of the page
            <br/>
            <br/>
            <pre>&lt;iframe src="{{getFullUrl()}}">&lt;/iframe></pre>
        </div>

        <div ibm-page
             name="BLU Free - English"
             snippet-link="#/snippet/bluFree?lang={{lang}}"
                >
            The new BLU Free Widget Implementation
            <br/>
            <br/>
            <pre>&lt;iframe frameborder="0" width="600px" height="463px" scrolling="no" src="{{getFullUrl()}}">&lt;/iframe></pre>
        </div>
    </div>
</div>
