<!--<img src="/images/ibm-header-mock.PNG" style="width:100%; position:absolute;top:0; left:0;"/>-->
        <div style="width:100%; position:absolute;top:0; left:0; height:200px; background:black"></div>
<div id="main">
<div style="display:none">


    This forces translation load before any directive rendering

    {{''|i18n}}

</div>

<div class="standard-page-frame">

<div class="small-header">
    <h1 class="main-headline">Order BigInsights Hosting</h1>

    <h2 class="sub-headline">Select your Big Data cluster configuration</h2>

    <p class="introP">Use the options below to customize your Big Data cluster on SoftLayer to meet your specific needs.
        If you are unsure about an option, feel free to get in touch with our team.</p>
</div>

<hr class="thirty-bottom">

<div class="container-main">

<div class="row">
<form accept-charset="UTF-8" class="form-horizontal">
    <div id="placeOrder" class="panel-group">
        <div class="panel-group" id="accordion">

            <div class="panel panel-default">
                <div class="panel-heading collapsed" ng-click="toggleAccordion(1)" data-toggle="collapse"
                     data-target="#panel-general" data-parent="#accordion">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        General Configuration
                    </h4>
                </div>
                <div class="panel-collapse" ng-class="collapsePanel(1)">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="required col-sm-3 control-label" for="cluster_name">Cluster Name</label>
                            <div class="col-sm-4">
                                <input ng-model="input.tag" class="form-control" data-no-update="true" id="cluster_name" name="cluster[name]" type="text">
                                <span help-popover content="help.clusterName"></span>
                            </div>
                        </div>

                        <h4>Cloud Configuration</h4>
                        <hr>

                        <div class="form-group">
                            <label class="required col-sm-3 control-label"> Data Center </label>


                            <div class="col-sm-3">
                                <select class="form-control" ng-model="input.locationId"    ng-style="{'width': '100%'}"
                                        ng-options="datacenter.id as ('datacenters.' + datacenter.label | i18n) for datacenter in dataCenters"></select>
                                <span help-popover content="help.locationId"> </span>
                            </div>
                        </div>

                        <!--<h4>BigInsights Configuration</h4>-->
                        <!--<hr>-->

                       <!-- <div class="form-group">
                            <label for="edition" class="required col-sm-3 control-label">
                                BigInsights Edition
                            </label>

                            <div class="col-sm-6 col-md-5">
                                <select class="form-control" ng-model="input.edition"
                                        ng-options="edition.id as ('biginsightsEditions.' + edition.label | i18n) for edition in editions"></select>
                                </select>
                                <span help-popover content="help.edition"></span>
                            </div>
                        </div>-->

                        <!--<div class="form-group">
                            <label class="required col-sm-3 control-label">
                                Hadoop Filesystem
                            </label>

                            <div class="col-sm-2">
                                <select ng-model="input.filesystem"  class="form-control"
                                        ng-options="fsType.id as ('filesystemTypes.' + fsType.label | i18n) for fsType in fsTypes"
                                        options-disabled="fsType.disabled for fsType in fsTypes"
                                        ></select>
                                <span help-popover content="help.filesystemTypes"></span>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-class="{'bare-metal' : !!isMasterBareMetal(), 'cci' : !isMasterBareMetal()}">
                <div class="panel-heading collapsed" ng-click="toggleAccordion(2)" data-toggle="collapse"
                     data-target="#panel-master"
                     data-parent="#accordion">
                    <h4 class="panel-title">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        Master Node Configuration
                        <!--<span id="master-price" class="pull-right"><span
                                class="price-class">hw: </span>US$ 998.00/month<span
                                class="price-class">sw: </span>US$ 1,040.00/month</span>-->
                    </h4>
                </div>
                <div class="panel-collapse" ng-class="collapsePanel(2)">

                    <div class="panel-body">
                        <input type="hidden" name="master-price-total" value="998">

                        <h4>Server Configuration</h4>
                        <hr>

                        <div class="form-group">
                            <label class="col-sm-4 required control-label">
                                Server Type
                            </label>

                            <div class="col-sm-4">
                                <select ng-model="input.masterPackage" class="form-control"
                                        ng-options="type.id as ('serverTypes.' + type.label | i18n) for type in serverTypes ">
                                </select>
                                <span help-popover content="help.serverType"></span>
                            </div>
                        </div>

                        <h4>Server Hardware</h4>
                        <hr>

                       <!-- <div class="form-group">
                            <label for="master-disk-max" class="col-sm-4 required control-label">
                                Maximum Internal Drives
                            </label>

                            <div class="col-sm-8">
                                Up to
                                <select ng-model="model.masterDiskMax"
                                        ng-options="value for value in [4,12,24,36]" class="form-control with-text"></select>

                                drives
                                    <span help-popover content="help.maxInternalDrivers"></span>

                            </div>
                        </div>
-->
                        <div class="form-group">
                            <label class="col-sm-4 required control-label">
                                CPU
                            </label>

                            <div class="col-sm-5">
                                <select ng-model="input.masterBareMetalCpu"
                                        class="form-control bare-metal"
                                        ng-options="c.id as ('cpu.' + c.label | i18n) for c in cpu.bm"></select>
                                <select ng-model="input.masterCciCpu"
                                        class="form-control cci"
                                        ng-options="c.id as ('cpu.' + c.label | i18n) for c in cpu.cciMaster"
                                        options-disabled="c.disabled for c in cpu.cciMaster"
                                        ></select>

                            </div>
                            <!--<span id="master-cpu-price" class="price pull-right form-control-static">US$ 329.00/month</span>-->
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-4 required control-label">
                                RAM
                            </label>

                            <div class="col-sm-3">
                                <select ng-model="input.masterBareMetalRam"
                                        ng-options="r.id as ('ram.' + r.label | i18n ) for r in ram.bmMaster"
                                       class="form-control bare-metal">
                                </select>
                                <select ng-model="input.masterCciRam"
                                        ng-options="r.id as ('ram.' + r.label | i18n ) for r in ram.cci"
                                       class="form-control cci">
                                </select>

                                <span help-popover content="help.masterRam"></span>
                            </div>

                            <!--<span id="master-ram-price" class="price pull-right form-control-static">US$ 488.00/month</span>-->
                        </div>

                        <div class="form-group has-sub-item">
                            <label  class="col-sm-4 required control-label">
                                Operating System Disk
                            </label>

                            <div class="col-sm-3 col-xs-9">
                                <select  class="form-control bare-metal">
                                    <option value="500GB SATA II">500GB SATA II</option>
                                </select>
                                <select  class="form-control cci">
                                    <option value="500GB SATA II">100 GB (SAN)</option>
                                </select>
                            </div>
                            <div id="master-ask-raid" class="col-sm-2  col-xs-3 checkbox bare-metal">
                                <label>
                                    <input ng-model="input.masterRaid" type="checkbox" name="master-raid" value="raid"> RAID 1?
                                </label>
                                <span help-popover="help.masterRaid"></span>

                            </div>
                            <!--<span id="master-os-disk-price" class="price pull-right form-control-static">US$ 0.00/month</span>-->
                        </div>

                        <div class="form-group bare-metal" id="master-raid-disk" ng-show="input.masterRaid">
                            <div class="col-sm-3 col-xs-9 col-sm-offset-4">
                                <input  value="500GB SATA II" type="text" id="master-raid1" class="form-control" disabled="">
                            </div>

                            <!--<span id="master-raid-disk-price" class="price pull-right form-control-static">US$ 21.00/month</span>-->
                        </div>

                        <div class="form-group">
                            <label  class="col-sm-4 required control-label">
                                Network
                            </label>

                            <div class="col-sm-2">
                                <select
                                        class="form-control">
                                    <option value="1G" selected="selected">1 Gbit</option>
                                </select>
                                 <span help-popover content="help.network"></span>
                            </div>
                            <!--<span id="master-network-price" class="price pull-right form-control-static">US$ 20.00/month</span>-->
                        </div>

                        <h4>Software</h4>
                        <hr>

                        <div class="form-group">
                            <label for="master-os" class="col-sm-4 required control-label">
                                Operating System
                            </label>

                            <div class="col-sm-3">
                                <select  class="form-control">
                                    <option value="RHEL" selected="selected">Redhat 6.5</option>
                                </select>
                            </div>
                            <!--<span id="master-os-price" class="price pull-right form-control-static">US$ 90.00/month</span>-->
                        </div>

                       <!-- <div class="form-group">
                            <label for="master-license" class="col-sm-4 required control-label">
                                BigInsights License
                            </label>

                            <div class="col-sm-5">
                                <input ng-model="model.masterLicense" type="text" id="master-license" name="master-license"
                                       class="form-control" disabled="">
                            </div>
                            &lt;!&ndash;<span id="master-license-price" class="price pull-right form-control-static">US$ 1,040.00/month</span>&ndash;&gt;
                        </div>
-->
                    </div>
                </div>
            </div>

            <div class="panel panel-default"  ng-class="{'bare-metal' : !!isMasterBareMetal(), 'cci' : !isMasterBareMetal()}">
            <div class="panel-heading collapsed" ng-click="toggleAccordion(3)" data-toggle="collapse" data-target="#panel-data"
                 data-parent="#accordion">
                <h4 class="panel-title">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    Data Nodes Configuration
                                                    <!--<span id="data-price" class="pull-right"><span class="price-class">hw: </span>US$ 4,851.00/month<span-->
                                                            <!--class="price-class">sw: </span>US$ 3,120.00/month</span>-->
                </h4>
            </div>
            <div ng-class="collapsePanel(3)" class="panel-collapse">
            <div class="panel-body">
            <input type="hidden" name="data-price-total" value="4851">

            <h4>Server Configuration</h4>
            <hr>

            <div class="form-group">
                <label class="col-sm-4 required control-label">
                    Number of Servers
                </label>

                <div class="col-sm-2">
                    <input ng-model="input.numOfDataNodes" type="text"  class="form-control" maxlength="4" size="4" max="10" min="1">
                    <span help-popover content="help.numberOfServers"></span>

                </div>
            </div>

            <div class="form-group">
                <label  class="col-sm-4 required control-label">
                    Server Type
                </label>

                <div class="col-sm-4">

                    <select ng-model="input.masterPackage" class="form-control"
                            ng-options="type.id as ('serverTypes.' + type.label | i18n) for type in serverTypes ">
                    </select>
                    <!--<select ng-model="input.dataPackage" class="form-control"
                            ng-options="type.id as ('serverTypes.' + type.label | i18n) for type in serverTypes ">
                    </select>-->
                    <span help-popover content="help.serverType"></span>

                </div>
            </div>

            <h4>Server Hardware</h4>
            <hr>

            <div class="form-group">
                <label class="col-sm-4 required control-label">
                    Maximum Internal Drives
                </label>

                <div class="col-sm-8">
                    Up to
                    <select ng-model="input.dataMaxInternalDrives"
                            class="form-control with-text"
                            ng-options="i for i in [4,12,24,36]">



                    </select>
                    drives
                    <span help-popover="help.maxInternalDrives"></span>

                </div>
            </div>

            <div class="form-group">
                <label  class="col-sm-4 required control-label">
                    CPU
                </label>

                <div class="col-sm-5">
                    <select ng-model="input.dataBareMetalCpu"
                            class="form-control bare-metal"
                            ng-options="cpu.id  as ('cpu.' + cpu.label | i18n ) for cpu in cpu.bm"
                            >
                        <!--<option value="Xeon 5620">Intel Xeon 5620 8 Cores (2.40 GHz)</option>-->
                    </select>
                    <select ng-model="input.dataCciCpu"
                            class="form-control cci"
                            ng-options="cpu.id  as ('cpu.' + cpu.label | i18n ) for cpu in cpu.cciData"
                            options-disabled="cpu.disabled for cpu in cpu.cciData"
                            >
                        <!--<option value="Xeon 5620">Intel Xeon 5620 8 Cores (2.40 GHz)</option>-->
                    </select>
                </div>
                <!--<span id="datanode-cpu-price" class="price pull-right form-control-static">US$ 589.00/month</span>-->
            </div>

            <div class="form-group">
                <label class="col-sm-4 required control-label">
                    RAM
                </label>

                <div class="col-sm-3">
                    <select ng-model="input.dataBareMetalRam"
                            ng-options="ram.id as ('ram.' + ram.label | i18n ) for ram in ram.bmData"
                            class="form-control bare-metal">
                    </select>
                    <select ng-model="input.dataCciRam"
                            ng-options="ram.id as ('ram.' + ram.label | i18n ) for ram in ram.cci"
                            class="form-control cci">
                    </select>

                    <span help-popover="help.dataRam"></span>
                </div>
                <!--<span id="datanode-ram-price" class="price pull-right form-control-static">US$ 616.00/month</span>-->
            </div>

            <div class="form-group has-sub-item">
                <label  class="col-sm-4 required control-label">
                    Operating System Disk
                </label>

                <div class="col-sm-3 col-xs-9">
                    <select  class="form-control bare-metal">
                        <option value="500GB SATA II">500GB SATA II</option>
                    </select>
                    <select  class="form-control cci">
                        <option value="500GB SATA II">100 GB (SAN)</option>
                    </select>
                </div>
                <div id="data-ask-raid" class="bare-metal col-xs-3 checkbox">
                    <label>
                        <input ng-model="input.dataRaid" type="checkbox" name="data-raid" value="raid"> RAID 1?
                    </label>
                    <span help-popover="help.operatingSystemDisk"></span>
                </div>
                <!--<span id="datanode-disk1-price" class="price pull-right form-control-static">US$ 0.00/month</span>-->
            </div>


            <div class="form-group bare-metal" id="data-raid-disk" ng-show="input.dataRaid" >

                <div class="col-sm-3 col-xs-9 col-sm-offset-4">
                    <input value="500GB SATA II" type="text" class="bare-metal form-control"
                           disabled="">

                </div>
                <!--<span id="datanode-raid1-price" class="price pull-right form-control-static">US$ 0.00/month</span>-->
            </div>

            <div class="form-group">
                <label  class="col-sm-4 required control-label">
                    Number of Data Disks
                </label>

                <div class="col-sm-3">
                    <select ng-model="input.dataBareMetalNumberOfDisks"
                            ng-options="i for i in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23]"
                            class="form-control bare-metal"
                            >
                    </select>
                    <select
                            ng-model="input.dataCciNumberOfDisks"
                            ng-options="i for i in [1,2,3,4]"
                            class="form-control cci"
                            >

                    </select>
                    <span help-popover="help.numberOfDataDisks"></span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-4 required control-label">
                    Data Disks Size
                </label>

                <div class="col-sm-3">
                    <select ng-model="input.dataBareMetalDisks"
                            class="form-control bare-metal"
                            ng-options="disk.id as ('disks.' + disk.label | i18n ) for disk in disks.bm"
                            >

                    </select>
                    <select ng-model="input.dataCciDisks"
                            class="form-control cci"
                            ng-options="disk.id as ('disks.' + disk.label | i18n ) for disk in disks.cci"
                            >

                    </select>
                </div>
                <!--<span id="datanodes-disk2-price" class="price pull-right form-control-static">US$ 42.00/month</span>-->
            </div>

            <div class="form-group">
                <label class="col-sm-4 required control-label">
                    Total Data Disk Size
                </label>

                <div class="col-sm-3">
                    <input ng-value="totalDiskSize()" type="text" id="totalDataDisk"
                           class="form-control" disabled="">
                </div>
                <!--<span id="datanodes-disk-price" class="price pull-right form-control-static">US$ 252.00/month</span>-->
            </div>

            <div class="form-group">
                <label for="data-network" class="col-sm-4 required control-label">
                    Network
                </label>

                <div class="col-sm-2">
                    <select id="data-network" name="data-network" class="form-control">
                        <option value="1G" selected="selected">1 Gbit</option>
                    </select>
                                                            <span class="glyphicon glyphicon-question-sign" data-toggle="popover"
                                                                  data-content="Currently we only support 1 Gbps network speed."
                                                                  data-original-title="" title="">
                                                            </span>
                </div>
                <!--<span id="datanode-network-price" class="price pull-right form-control-static">US$ 20.00/month</span>-->
            </div>

            <h4>Software</h4>
            <hr>

            <div class="form-group">
                <label for="data-os" class="col-sm-4 required control-label">
                    Operating System
                </label>

                <div class="col-sm-3">
                    <select  class="form-control">
                        <option value="RHEL" selected="selected">Redhat 6.5</option>
                    </select>
                </div>
                <!--<span id="datanode-os-price" class="price pull-right form-control-static">US$ 90.00/month</span>-->
            </div>

           <!-- <div class="form-group">
                <label for="data-license" class="col-sm-4 required control-label">
                    BigInsights License
                </label>

                <div class="col-sm-5">
                    <input ng-model="model.dataLicense" type="text" id="data-license" class="form-control" disabled="">
                </div>
                &lt;!&ndash;<span id="data-license-price" class="price pull-right form-control-static">US$ 3,120.00/month</span>&ndash;&gt;
            </div>-->

            </div>
            </div>
            </div>

            <div class="panel panel-summary">
                <div class="panel-body">
                    Total SoftLayer (hardware + OS)
                    <span id="total-price-softlayer" class="pull-right">US$ 5,849.00/month</span>
                </div>
            </div>

            <div class="panel panel-summary">
                <div class="panel-body">
                    Total BigInsights (software + support)
                    <span id="total-price-ibm" class="pull-right">US$ 4,160.00/month</span>
                </div>
            </div>

            <div class="panel panel-summary">
                <div class="panel-body">
                    Total Price Estimate
                    <span id="total-price" class="pull-right">US$ 10,009.00/month</span>
                </div>
            </div>

        </div>
    </div>
</form>
</div>
<center>
    <iframe src="http://ibmstaging2.gsdev.info/widget/widget?apiKey=e54ee456-0732-41ec-927b-953f9e04f662&amp;showAdvanced=true&amp;title=Big%20Insights&amp;origin_page_url=http%3A%2F%2Flocalhost%3A9000%2F%23%2Forder&amp;video_url=%2F%2Fwww.youtube.com%2Fembed%2F59NmBXNIcoc" scrolling="no" width="600px" height="463px" frameborder="no"></iframe>
<!--<iframe src="http://ibmstaging.gsdev.info/widget/widget?apiKey=e54ee456-0732-41ec-927b-953f9e04f662&amp;showAdvanced=true&amp;title=Big%20Insights&amp;origin_page_url=http%3A%2F%2Fibmstaging.gsdev.info%2Fdemos%2F131%2Fe54ee456-0732-41ec-927b-953f9e04f662&amp;video_url=%2F%2Fwww.youtube.com%2Fembed%2F59NmBXNIcoc" scrolling="no" width="600px" height="463px" frameborder="no"></iframe>-->
</center>


</div>
</div>

</div>



<div id="footer" style="height:300px; background:black">
    footer
</div>
<!--<img src="/images/ibm-footer-mock.PNG" style="width:100%; position:absolute;top:0; left:0;"/>-->