<div style="border:1px solid black;">
<div class="another-way-please" >
    <div >
        We will share the image <br/>and you will spin up the server youself.
    </div>
    <a href="/index.html#/snippet/bluSolo">Too much work. Get the machine up for me.</a>
</div>

<div id="wufoo-p8fvfid1dmmx93">
</div>

<script type="text/javascript">var p8fvfid1dmmx93;(function(d, t) {
    var s = d.createElement(t), options = {
        'userName':'bigdatamaven',
        'formHash':'p8fvfid1dmmx93',
        'autoResize':true,
        'height':'500',
        'async':true,
        'host':'wufoo.com',
        'header':'show',
        'ssl':true};
    s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
        try { p8fvfid1dmmx93 = new WufooForm();p8fvfid1dmmx93.initialize(options);p8fvfid1dmmx93.display();
        } catch (e) {}};

    var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>
</div>
